<div class="row"> 
  <div class="col-xs-12 main-header"
    <h1>AlchemyData News</h1>
  </div>

  <div class="row">
    <form role="form" class="form-inline">
      <div  class="col-xs-6 col-xs-offset-3" id="search-form">
        <%= form_for(:search, url: articles_path, method: :get) do |f|  %>
          <%= f.label "where" %>
          <%= f.text_field :where, id:"where", class: "form-control" %>
          <%= f.label "is mentioned" %>
          <%= f.select :status, ["any", "title"], class: "form-control"%>
          <%= f.submit "Submit", class: "btn" %>
        <% end %>
      </div>
    </form>
  </div>
<div>
